 @using front_to_back.Areas.Admin.ViewModels
@model CategoryIndexViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Categories</h4>
                        <a class="btn btn-primary" asp-action="create" asp-controller="category" asp-area="admin">CREATE CATEGORY</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <tr>
                                            <td>@category.Id</td>
                                            <td>@category.Title</td>
                                            <td>
                                                <a class="btn btn-primary" asp-action="update" asp-controller="category" asp-area="admin" asp-route-id="@category.Id">Update</a>
                                                 <a class="btn btn-danger" asp-action="delete" asp-controller="category" asp-area="admin" asp-route-id="@category.Id">Delete</a>
                                                 <a class="btn btn-info" asp-action="details" asp-controller="category" asp-area="admin" asp-route-id="@category.Id">Details</a>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>